<div id="" class="header-div">
  <h1>js unit calc <i class="fas fa-calculator"></i></h1>
</div>
<div id="nav-div">
  <nav class="nav-style">
    <ul>
      <li class="w3-red w3-btn">
        <a routerLink="/temperature-component">Temperature <i class="fas fa-thermometer-full"></i>
        </a>
      </li>
      <li class="w3-yellow w3-btn">
        <a routerLink="/distance-component">Distance <i class="fas fa-ruler"></i>
        </a>
      </li>
      <li class="w3-blue w3-btn">
        <a routerLink="/weight-component">Weight <i class="fas fa-balance-scale"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
