<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <header>
      <div id="" class="header-div">
        <h1>{{ title }}</h1>
      </div>
      <div id="nav-div">
        <nav class="nav-style">
          <ul>
            <li class="w3-red"><a routerLink="/temperature-component" routerLinkActive="active">Temperature</a></li>
            <li class="w3-yellow"><a routerLink="/distance-component" routerLinkActive="active">Distance</a></li>
            <li class="w3-blue"><a routerLink="/weight-component" routerLinkActive="active">Weight</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div id="main-div" class="w3-card-4	">
        <router-outlet></router-outlet>
      </div>
    </main>
    <br>
    <footer>
      <div id="footer-div" class="">
        &copy; {{ year | date:'yyyy'}} {{ author }}
      </div>
    </footer>
  </body>
</html>
