body {
  margin: 1em;
  text-align: center;
}

.main-div {
  padding: 1em;
}

.header-div {
  justify-content: center;
}

/* ---------- nav ---------- */

.nav-style ul{
  display: flex;
  flex-wrap: wrap;
}

.nav-style ul li{
  padding: 1em;
  list-style-type: none;
}

.nav-style ul li:hover{
  opacity: 0.5;
}

.nav-style ul li a{
  text-decoration: none;
}
