<div class="conversion-container">

  <h3>Temperature</h3>

  <div id="c-to-f" class="conversion-div w3-red">
    <h3>Pick a type, fill in a number</h3>
    <br><br>
    Number:<input type="text" [(ngModel)]="num1">
    <br><br>
    <button class="" ngClass="{{ fColor }}" (click)=set1Fahrenheit()>Fahrenheit</button>
    <button class="" ngClass="{{ cColor }}" (click)=set1Celsius()>Celsius</button>
    <button class="" ngClass="{{ kColor }}"(click)=set1Kelvin()>Kelvin</button>
    <br><br>
    <h3>What do you want to convert it to?</h3>
    <br><br>
    <button class="" ngClass="{{ fColor2 }}" (click)=set2Fahrenheit()>Fahrenheit</button>
    <button class="" ngClass="{{ cColor2 }}" (click)=set2Celsius()>Celsius</button>
    <button class="" ngClass="{{ kColor2 }}" (click)=set2Kelvin()>Kelvin</button>
    <br><br>
    <h3>Answer: {{ answer | number}}</h3>
    <br><br>
    <button (click)=convertTemp()>Convert</button>
  </div>

  <br><br>

  <div id="c-to-f" class="conversion-div w3-red">
    Celsius to Fahrenheit
    <br><br>
    Celsius: <input type="text" [(ngModel)]="celsius">
    <br><br>
    Fahrenheit: {{ (celsius * (9 / 5)) + 32 | number }}
  </div>

  <br>

  <div id="c-to-f" class="conversion-div w3-red">
  Fahrenheit to Celsius
    <br><br>
    Fahrenheit: <input type="text" [(ngModel)]="fahrenheit">
    <br><br>
    Celsius: {{ (fahrenheit - 32) * (5 / 9) | number }}
  </div>

</div>
